@import "vars"
@import "norm"
@import "fonts"
@import "libs"

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold

// код проекта
  
// хедер
.header-content
  height: 140px

.header-menu-list
  display: flex
  justify-content: space-between
  margin: 0
  li
    list-style: none

.header-menu__link
  text-transform: uppercase
  font-weight: 700
  color: $black
  font-size: 14px
  transition: $animate
  text-decoration: none
  letter-spacing: .1em

.header-menu__link:hover, .header-menu__link:active
  color: $accent
  text-decoration: none
@media (max-width: 1050px)
  .header-menu-list
    display: none

// mmenu

.header-site
  .hamburger
    display: none



// слайдер
.main-slider
  background-image: url(https://livedemo00.template-help.com/wt_prod-21756/images/slide-2.jpg)
  background-size: cover
  background-position: center center
  min-height: 800px
  display: flex
  align-items: center
.main-slider-heading
  color: #fff
.main-slider-heading__header
  margin: 0
.main-slider-heading__title
  line-height: 1.6
.main-slider-heading__footer
  margin-bottom: 60px
@media (max-width: 380px)
  .about-us-heading__signature
    display: none
// о нас
.about-us__img
  width: 100%
  background-image: url(https://livedemo00.template-help.com/wt_prod-21756/images/about-576x537.jpg)
  background-size: contain
  background-repeat: no-repeat
  height: auto
  background-position: bottom center
  +media-breakpoint-down(md)
    min-height: 500px
  +media-breakpoint-down(xs)
    min-height: 300px
.about-us-heading
  padding: 130px 0
  +media-breakpoint-down(md)
    padding: 20px 0

.about-us-preloader
  color: $green
  margin: 0

.about-us__title
  margin: 0
  line-height: 2
  font-weight: 700

.about-us__txt
  margin-bottom: 40px

.about-us-heading-row
  display: flex
  align-items: center
  justify-content: flex-start
  position: relative
.main-btn--about-us
  margin-right: 40px
  display: flex
  align-items: center
  justify-content: center
  .fas
    font-size: 16px

.about-us-heading-autor__link
  text-transform: uppercase
  letter-spacing: 0
  font-weight: 700
  font-size: 14px
.about-us__position
  font-size: 14px
  font-style: italic
  color: $green
.about-us__position
  margin: 0
.about-us-heading__signature
  position: absolute
  right: 0



// особенности
.specials--black
  background-color: #000
.specials
  background-image: url(https://livedemo00.template-help.com/wt_prod-21756/images/parallax-3.jpg)
  background-size: cover
  padding: 60px 0
  color: #fff
  position: relative
  
  .fas
    display: block
    font-size: 39px
    margin-bottom: 20px
    color: $green
.specials:before
  content: ''
  position: absolute
  bottom: 0
  left: 0
  right: 0
  top: 0
  background-color: rgba(0, 0, 0, 0.7)
.specials__title
  font-weight: 700
  color: #fff
  margin-bottom: 20px
  display: block

// товары 
.products
  padding: 100px 0
.products-heading
  text-align: center
  display: flex
  justify-content: center
  flex-direction: column
.products-heading__pre
  color: $green
  margin: 0
.products-heading__title
  margin-bottom: 20px
.products-menu
  position: relative
  display: inline-block
  padding: 10px 0
  transition: $animate
  +media-breakpoint-down(xs)
    position: absolute
    display: flex
    flex-direction: column
    background-color: #fff
    z-index: 1
    padding: 20px 80px
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1)
    right: 40px
    left: 40px
    margin: auto
    margin-top: 20px
.products-menu--none
  +media-breakpoint-down(xs)
    display: none

.products-menu:before
  position: absolute
  content: ''
  bottom: -1px
  left: 0
  height: 4px
  width: 100%
  border-radius: 6px
  background: #d7d7d7
  z-index: -1
  +media-breakpoint-down(xs)
    content: none
.products-menu__link
  margin-right: 20px
  font-size: 14px
  font-weight: 700
  color: $gray
  padding: 10px 0
  z-index: 100
  position: relative
  +media-breakpoint-down(xs)
    margin-right: 0
    padding: 4px
  &--active
    color: $green
    +media-breakpoint-down(xs)
      border-bottom: none
    &:before
      position: absolute
      content: ''
      bottom: -4px
      left: 0
      right: 0
      margin: auto
      height: 4px
      width: 0
      border-radius: 6px
      background: $green
      z-index: -1
      transition: $animate
      +media-breakpoint-down(xs)
        height: 0
.products-menu__link:hover
  color: $green
.products-menu__link:hover:before
  width: 100%
.products-menu__link:nth-child(4)
  margin-right: 0

.products-mobile-button
  font-size: 14px
  border: 2px $black solid
  border-radius: 7px
  font-weight: 600
  padding: 5px 15px
  display: none
  +media-breakpoint-down(xs)
    display: inline

.products-box
  margin-top: 60px
.products-box__item
  text-align: center

// комментарии
.comments
  background-image: url(https://livedemo00.template-help.com/wt_prod-21756/images/bg-image-5.jpg)
  background-size: cover
  background-position: center center
  .owl-carousel
    .owl-item
      img
        width: 60px
        height: 60px
        border-radius: 100%
        
.comments-heading
  padding: 80px 0
.comments-heading__txt
  color: $green
  margin: 0

.comments-field
  padding: 60px
  padding-top: 120px
  border-radius: 60px
  box-shadow: 0 0 18px 0 rgba(0,0,0,.13)
  margin: 10px
  background-color: #fff
  position: relative
  +media-breakpoint-down(xs)
    padding-left: $gutter
    padding-right: $gutter
    padding-top: 80px
  &:before
    content: '"'
    position: absolute
    top: 0
    right: 0
    left: 0
    text-align: center
    font-size: 90px
    color: $green
    font-family: 'Kalam', cursive
  &__txt 
    text-align: center
    color: $gray
    font-size: 20px
    +media-breakpoint-down(xs)
      font-size: 16px
  &-autor
    align-items: center
    justify-content: center
    &__img
      margin-right: 20px
    &__name
      margin: 0
      color: $black
      text-transform: uppercase
      font-weight: 500
      span 
        display: block
        color: $green
        font-style: italic
body
  .comments
    .owl-nav
      display: none
// ссылки

.salelinks-link__img
  width: 100%
  padding-bottom: $gutter + 7px
  +media-breakpoint-down(lg)
    padding-bottom: $gutter + 4px
  +media-breakpoint-down(md)
    padding-bottom: $gutter
  +media-breakpoint-down(sm)
    padding-bottom: $gutter - 4px
  
// бренды

.brands
  background-image: url(https://livedemo00.template-help.com/wt_prod-21756/images/parallax-6.jpg)
  background-size: cover
  padding: 90px 0
  position: relative
  &:before
    content: ''
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.45)
    position: absolute

.brands-link__img
  max-height: 90px
  max-width: 105px
  transition: $animate
  margin: auto
  &:hover
    opacity: 0.75

// FAQ

.mainfaq-products
  padding: 40px
  background-image: url(https://livedemo00.template-help.com/wt_prod-21756/images/bg-pattern-1.jpg)
  background-size: cover
  background-position: center center
.mainfaq-products-item-imgwrap
  max-width: 270px
  margin: auto
  margin-bottom: 20px

.mainfaq-products-item
  text-align: center
  text-transform: uppercase
.mainfaq-products-item__title
  font-weight: 700
.mainfaq-products-item__price
  text-decoration: none
  color: $green
  font-size: 18px
  font-weight: 600
  span 
    color: $gray
    text-decoration: line-through
// faq-аккордион
button.accordion
  background: $accent
  color: #fff
  cursor: pointer
  border: 0
  padding: 18px
  width: 90%
  text-align: left
  font-size: 18px
  transition: .4s
button.accordion:focus
  outline: none
button.accordion.active, button.accordion:hover
  background-color: $green
.panel
  padding: 0 18px
  color: #000
  max-height: 0
  overflow: hidden
  width: 67.45%
  margin: 0 auto
  transition: max-height .2s ease-out

// карусель
body
  .owl-theme 
    .owl-dots 
      .owl-dot 
        span
          width: 14px
          height: 14px
body
  .owl-theme 
    .owl-dots 
      .owl-dot.active, .owl-dot:hover
        span
          background-color: $green

// конец кода проекта

// всегда внизу
@import "media"
