<section class="container-fluid main-slider">
  <div class="container">
    <div class="row-6 justify-content-start ">
      <div class="main-slider-heading">
        <p class="main-slider-heading__header p-preloader">A Wide Selection of Artisan Bread</p>
        <h1 class="main-slider-heading__title title-1">BAKED GOODS</h1>
        <p class="main-slider-heading__footer title-2">AVAILABLE AT OUR STORE</p>
        <a href="#/" class="main-btn">Shop now</a>
      </div>
    </div>
  </div>
</section>

<!-- о нас -->

<section class="container about-us">
  <div class="row justify-content-between">
    <div class="col-lg-7 about-us__img"></div>
    <div class="col-lg-5">
      <div class="about-us-heading">
        <p class="about-us-preloader p-preloader">A Few Words About Our Store</p>
        <h2 class="about-us__title title-2">ABOUT US</h2>
        <p class="about-us__txt">Grocmart is a family-owned grocery store that has been offering quality products for your everyday life since 1999, while also providing superior service and competitive prices.</p>
        <div class="about-us-heading-row">
          <a href="#/" class="main-btn main-btn--round main-btn--about-us"><i class="fas fa-long-arrow-alt-right"></i></a>
          <div class="about-us-heading-autor">
            <a href="#/" class="about-us-heading-autor__link site-link">SAM WILLIAMS</a>
            <p class="about-us__position">CEO, Founder</p>
          </div>
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/signature-1-160x55.png" alt="" class="about-us-heading__signature">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- особенности-->

<section class="container-fluid specials">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-3 col-12 col-sm-6">
        <i class="fas fa-utensils"></i>
        <a href="#/" class="specials__title title-4 site-link">QUALITY PRODUCTS</a>
        <p class="specials__txt">We work with the best suppliers to offer our customers the fresh grocery products of the highest quality.</p>
      </div>
      <div class="col-xl-3 col-12 col-sm-6">
        <i class="fas fa-hand-holding-usd"></i>
        <a href="#/" class="specials__title title-4 site-link">AFFORDABLE PRICES</a>
        <p class="specials__txt">Thanks to our affordable pricing policy, our customers don’t have to overpay for the products they need.</p>
      </div>
      <div class="col-xl-3 col-12 col-sm-6">
        <i class="fas fa-shipping-fast"></i>
        <a href="#/" class="specials__title title-4 site-link">FAST SHIPPING</a>
        <p class="specials__txt">Our store offers fast worldwide shipping to all customers regardless of what and how much you order.</p>
      </div>
      <div class="col-xl-3 col-12 col-sm-6">
        <i class="fas fa-business-time"></i>
        <a href="#/" class="specials__title title-4 site-link">OPEN 24/7</a>
        <p class="specials__txt">Unlike other grocery shops, we are ready to serve you 24/7 and offer the best selection of groceries.</p>
      </div>
    </div>
  </div>
</section>

<!-- товары -->

<section class="container-fluid products">
  <div class="container">
    <div class="products-heading">
      <p class="products-heading__pre p-preloader">Latest Arrivals</p>
      <h2 class="products-heading__title title-2">NEW PRODUCTS</h2>
      <div class="products-heading-wrap">
        <a class="products-mobile-button site-link" href="javascript:void(0);" tabindex="1">Filter</a>
          <nav class="products-menu products-menu--none">
            <a href="#/" class="products-menu__link site-link products-menu__link--active">ALL</a>
            <a href="#/" class="products-menu__link site-link">VEGETABLES</a>
            <a href="#/" class="products-menu__link site-link">FRUITS</a>
            <a href="#/" class="products-menu__link site-link">BREAD</a>
          </nav>
      </div>
    </div>
    <div class="products-box">
      <div class="row">
        <div class="products-box__item col-lg-3 col-md-4 col-sm-6 col-sx-12">
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-1-220x160.png" alt="" class="products-box__img">
          <p class="products-box__title title-4"></p>
          <p class="products-box__price"></p>
        </div>
        <div class="products-box__item col-lg-3 col-md-4 col-sm-6 col-sx-12">
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-2-191x132.png" alt="" class="products-box__img">
          <p class="products-box__title title-4"></p>
          <p class="products-box__price"></p>
        </div>
        <div class="products-box__item col-lg-3 col-md-4 col-sm-6 col-sx-12">
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-3-238x158.png" alt="" class="products-box__img">
          <p class="products-box__title title-4"></p>
          <p class="products-box__price"></p>
        </div>
        <div class="products-box__item col-lg-3 col-md-4 col-sm-6 col-sx-12">
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-7-210x168.png" alt="" class="products-box__img">
          <p class="products-box__title title-4"></p>
          <p class="products-box__price"></p>
        </div>
        <div class="products-box__item col-lg-3 col-md-4 col-sm-6 col-sx-12">
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-4-204x125.png" alt="" class="products-box__img">
          <p class="products-box__title title-4"></p>
          <p class="products-box__price"></p>
        </div>
        <div class="products-box__item col-lg-3 col-md-4 col-sm-6 col-sx-12">
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-5-204x156.png" alt="" class="products-box__img">
          <p class="products-box__title title-4"></p>
          <p class="products-box__price"></p>
        </div>
        <div class="products-box__item col-lg-3 col-md-4 col-sm-6 col-sx-12">
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-6-237x156.png" alt="" class="products-box__img">
          <p class="products-box__title title-4"></p>
          <p class="products-box__price"></p>
        </div>
        <div class="products-box__item col-lg-3 col-md-4 col-sm-6 col-sx-12">
          <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-8-210x133.png" alt="" class="products-box__img">
          <p class="products-box__title title-4"></p>
          <p class="products-box__price"></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- комментарии -->

<section class="container-fluid comments">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 ">
        <div class="comments-heading t-center">
          <p class="comments-heading__txt p-preloader">Latest Testimonials</p>
          <h2 class="comments-heading__title title-2">OUR CLIENTS</h2>
        </div>
        <div class="comments-carousel owl-carousel owl-theme">
          <article class="comments-field ">
            <p class="comments-field__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quibusdam, modi ullam sint nisi assumenda quia totam quod praesentium unde impedit.</p>
            <div class="comments-field-autor row">
              <img src="https://livedemo00.template-help.com/wt_prod-21756/images/user-10-62x62.jpg" alt="" class="comments-field-autor__img">
              <p class="comments-field-autor__name">Bill Miligan <span>Client</span></p>
            </div>
          </article>
          <article class="comments-field ">
            <p class="comments-field__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quibusdam, modi ullam sint nisi assumenda quia totam quod praesentium unde impedit.</p>
            <div class="comments-field-autor row">
              <img src="https://livedemo00.template-help.com/wt_prod-21756/images/user-10-62x62.jpg" alt="" class="comments-field-autor__img">
              <p class="comments-field-autor__name">Bill Miligan <span>Client</span></p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ссылки-->

<section class="container-fluid salelinks">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <a href="#/" class="salelinks-link">
          <img class="salelinks-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/banner-2-670x676.jpg" alt="">
        </a>
      </div>
      <div class="col-sm-5">
        <a href="#/" class="salelinks-link">
          <img class="salelinks-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/banner-3-470x395.jpg" alt="">
        </a>
        <a href="#/" class="salelinks-link">
          <img class="salelinks-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/banner-4-470x250.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- бренды -->

<section class="container-fluid brands">
  <div class="container">
    <div class="brands-carousel owl-carousel owl-theme">
      <a href="#/" class="brands-link"><img class="brands-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/clients-2-105x118.png" alt=""> </a>
      <a href="#/" class="brands-link"><img class="brands-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/clients-3-111x98.png" alt=""> </a>
      <a href="#/" class="brands-link"><img class="brands-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/clients-4-122x92.png" alt=""> </a>
      <a href="#/" class="brands-link"><img class="brands-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/clients-4-122x92.png" alt=""> </a>
      <a href="#/" class="brands-link"><img class="brands-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/clients-5-112x112.png" alt=""> </a>
      <a href="#/" class="brands-link"><img class="brands-link__img" src="https://livedemo00.template-help.com/wt_prod-21756/images/clients-1-120x114.png" alt=""> </a>
    </div>
  </div>
</section>

<!-- faq -->

<section class="container-fluid mainfaq">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mainfaq-products">
        <div class="mainfaq-carousel owl-carousel owl-theme">
          <div class="mainfaq-products-item">
            <div class="mainfaq-products-item-imgwrap">
              <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-big-3-303x304.png" alt="" class="mainfaq-products-item__cheese">
            </div>
            <h3 class="mainfaq-products-item__title title-3">Parmesan cheese</h3>
            <p class="mainfaq-products-item__price"><span>13.00$</span> 20$.00</p>
          </div>
          <div class="mainfaq-products-item">
            <div class="mainfaq-products-item-imgwrap">
              <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-big-2-303x304.png" alt="" class="mainfaq-products-item__cheese">
            </div>
            <h3 class="mainfaq-products-item__title title-3">Black Bred</h3>
            <p class="mainfaq-products-item__price"><span>13.00$</span> 20$.00</p>
          </div>
          <div class="mainfaq-products-item">
            <div class="mainfaq-products-item-imgwrap">
              <img src="https://livedemo00.template-help.com/wt_prod-21756/images/product-big-1-303x304.png" alt="" class="mainfaq-products-item__cheese">
            </div>
            <h3 class="mainfaq-products-item__title title-3">Exotic juice</h3>
            <p class="mainfaq-products-item__price"><span>13.00$</span> 20$.00</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mainfaq-accordion">
        <div class="mainfaq-heading">
          <p class="p-preloader">Common Questions</p>
          <h2 class="mainfaq-heading__title title-2">FAQ</h2>
        </div>
        <button class="mainfaq-accordion__btn" type="button">What do I receive when I order a template?</button>
        <div class="panel">
          <p>After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.</p>
        </div>
        <button class="mainfaq-accordion__btn" type="button">In what formats are your templates available?</button>
        <div class="panel">
          <p>Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file. In most templates, HTML is compatible with Adobe® Dreamweaver® and Microsoft® FrontPage®.</p>
        </div>
        <button class="mainfaq-accordion__btn" type="button">What am I allowed to do with the templates?</button>
        <div class="panel">
          <p>You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).</p>
        </div>
      </div>
    </div>
  </div>
</section>

